# SQL Subqueries - Lab

## Introduction

Now that you've seen how subqueries work, it's time to get some practice writing them! Not all of the queries will require subqueries, but all will be a bit more complex and require some thought and review about aggregates, grouping, ordering, filtering, joins and subqueries. Good luck!  

## Objectives

You will be able to:

* Write subqueries to decompose complex queries

## CRM Database Schema

Once again, here's the schema for the CRM database you'll continue to practice with.

<img src="images/Database-Schema.png" width="600">

## Connect to the Database

As usual, start by importing the necessary packages and connecting to the database **data.sqlite**.

In [1]:
# Your code here; import the necessary packages
import sqlite3
import pandas as pd

In [2]:
# Your code here; create the connection and cursor
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Write an Equivalent Query using a Subquery

```SQL
SELECT customerNumber,
       contactLastName,
       contactFirstName
       FROM customers
       JOIN orders 
       USING(customerNumber)
       WHERE orderDate = '2003-01-31';
```

In [9]:
# Your code here; use a subquery. No join is necessary 
cur.execute('''SELECT customerNumber, contactLastName, contactFirstName
                FROM customers
                WHERE customerNumber IN (SELECT customerNumber
                                    FROM orders
                                    WHERE orderDate = '2003-01-31');''').fetchall()

[(141, 'Freyre', 'Diego ')]

## Select the Total Number of Orders for Each Product Name

Sort the results by the total number of items sold for that product.

In [26]:
# Your code here
cur.execute('''SELECT productName, COUNT(orderNumber)
                FROM products
                LEFT JOIN orderDetails
                ON orderdetails.productCode
                GROUP BY productName''').fetchall()

[('18th Century Vintage Horse Carriage', 0),
 ('18th century schooner', 0),
 ('1900s Vintage Bi-Plane', 0),
 ('1900s Vintage Tri-Plane', 0),
 ('1903 Ford Model A', 0),
 ('1904 Buick Runabout', 0),
 ('1911 Ford Town Car', 0),
 ('1912 Ford Model T Delivery Wagon', 0),
 ('1913 Ford Model T Speedster', 0),
 ('1917 Grand Touring Sedan', 0),
 ('1917 Maxwell Touring Car', 0),
 ('1926 Ford Fire Engine', 0),
 ('1928 British Royal Navy Airplane', 0),
 ('1928 Ford Phaeton Deluxe', 0),
 ('1928 Mercedes-Benz SSK', 0),
 ('1930 Buick Marquette Phaeton', 0),
 ('1932 Alfa Romeo 8C2300 Spider Sport', 0),
 ('1932 Model A Ford J-Coupe', 0),
 ('1934 Ford V8 Coupe', 0),
 ('1936 Chrysler Airflow', 0),
 ('1936 Harley Davidson El Knucklehead', 0),
 ('1936 Mercedes Benz 500k Roadster', 0),
 ('1936 Mercedes-Benz 500K Special Roadster', 0),
 ('1937 Horch 930V Limousine', 0),
 ('1937 Lincoln Berline', 0),
 ('1938 Cadillac V-16 Presidential Limousine', 0),
 ('1939 Cadillac Limousine', 0),
 ('1939 Chevrolet Deluxe Coupe', 0),
 ('1940 Ford Delivery Sedan', 0),
 ('1940 Ford Pickup Truck', 0),
 ('1940s Ford truck', 0),
 ('1941 Chevrolet Special Deluxe Cabriolet', 0),
 ('1948 Porsche 356-A Roadster', 0),
 ('1948 Porsche Type 356 Roadster', 0),
 ('1949 Jaguar XK 120', 0),
 ("1950's Chicago Surface Lines Streetcar", 0),
 ('1952 Alpine Renault 1300', 0),
 ('1952 Citroen-15CV', 0),
 ('1954 Greyhound Scenicruiser', 0),
 ('1956 Porsche 356A Coupe', 0),
 ('1957 Chevy Pickup', 0),
 ('1957 Corvette Convertible', 0),
 ('1957 Ford Thunderbird', 0),
 ('1957 Vespa GS150', 0),
 ('1958 Chevy Corvette Limited Edition', 0),
 ('1958 Setra Bus', 0),
 ('1960 BSA Gold Star DBD34', 0),
 ('1961 Chevrolet Impala', 0),
 ('1962 City of Detroit Streetcar', 0),
 ('1962 LanciaA Delta 16V', 0),
 ('1962 Volkswagen Microbus', 0),
 ('1964 Mercedes Tour Bus', 0),
 ('1965 Aston Martin DB5', 0),
 ('1966 Shelby Cobra 427 S/C', 0),
 ('1968 Dodge Charger', 0),
 ('1968 Ford Mustang', 0),
 ('1969 Chevrolet Camaro Z28', 0),
 ('1969 Corvair Monza', 0),
 ('1969 Dodge Charger', 0),
 ('1969 Dodge Super Bee', 0),
 ('1969 Ford Falcon', 0),
 ('1969 Harley Davidson Ultimate Chopper', 0),
 ('1970 Chevy Chevelle SS 454', 0),
 ('1970 Dodge Coronet', 0),
 ('1970 Plymouth Hemi Cuda', 0),
 ('1970 Triumph Spitfire', 0),
 ('1971 Alpine Renault 1600s', 0),
 ('1972 Alfa Romeo GTA', 0),
 ('1974 Ducati 350 Mk3 Desmo', 0),
 ('1976 Ford Gran Torino', 0),
 ('1980s Black Hawk Helicopter', 0),
 ('1980’s GM Manhattan Express', 0),
 ('1982 Camaro Z28', 0),
 ('1982 Ducati 900 Monster', 0),
 ('1982 Ducati 996 R', 0),
 ('1982 Lamborghini Diablo', 0),
 ('1985 Toyota Supra', 0),
 ('1992 Ferrari 360 Spider red', 0),
 ('1992 Porsche Cayenne Turbo Silver', 0),
 ('1993 Mazda RX-7', 0),
 ('1995 Honda Civic', 0),
 ('1996 Moto Guzzi 1100i', 0),
 ('1996 Peterbilt 379 Stake Bed with Outrigger', 0),
 ('1997 BMW F650 ST', 0),
 ('1997 BMW R 1100 S', 0),
 ('1998 Chrysler Plymouth Prowler', 0),
 ('1999 Indy 500 Monte Carlo SS', 0),
 ('1999 Yamaha Speed Boat', 0),
 ('2001 Ferrari Enzo', 0),
 ('2002 Chevy Corvette', 0),
 ('2002 Suzuki XREO', 0),
 ('2002 Yamaha YZR M1', 0),
 ('2003 Harley-Davidson Eagle Drag Bike', 0),
 ('ATA: B757-300', 0),
 ('America West Airlines B757-200', 0),
 ('American Airlines: B767-300', 0),
 ('American Airlines: MD-11S', 0),
 ('Boeing X-32A JSF', 0),
 ('Collectable Wooden Train', 0),
 ('Corsair F4U ( Bird Cage)', 0),
 ('Diamond T620 Semi-Skirted Tanker', 0),
 ('F/A 18 Hornet 1/72', 0),
 ('HMS Bounty', 0),
 ('P-51-D Mustang', 0),
 ('Pont Yacht', 0),
 ('The Mayflower', 0),
 ('The Queen Mary', 0),
 ('The Schooner Bluenose', 0),
 ('The Titanic', 0),
 ('The USS Constitution Ship', 0)]

## Select the Product Name and the  Total Number of People Who Have Ordered Each Product

Sort the results in descending order.

### A quick note on the SQL  `SELECT DISTINCT` statement:

The `SELECT DISTINCT` statement is used to return only distinct values in the specified column. In other words, it removes the duplicate values in the column from the result set.

Inside a table, a column often contains many duplicate values; and sometimes you only want to list the unique values. If you apply the `DISTINCT` clause to a column that has `NULL`, the `DISTINCT` clause will keep only one NULL and eliminates the other. In other words, the DISTINCT clause treats all `NULL` “values” as the same value.

In [ ]:
# Your code here:
# Hint: because one of the tables we'll be joining has duplicate customer numbers, you should use DISTINCT

## Select the Employee Number, First Name, Last Name, City (of the office), and Office Code of the Employees Who Sold Products Which Have Been Ordered by Less Then 20 people.

This problem is a bit tougher. To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [ ]:
# Your code here
cur.execute

## Select the Employee Number, First Name, Last Name, and Number of Customers for Employees Whose Customers Have an Average Credit Limit of Over 15K

In [25]:
# Your code here
cur.execute('''SELECT employeeNumber, firstname, lastname, COUNT(customernumber)
                FROM employees e
                LEFT JOIN customers c
                ON e.employeenumber = c.salesRepEmployeeNumber
                WHERE creditlimit > 15000
                GROUP BY employeenumber''').fetchall()

[(1165, 'Leslie', 'Jennings', 6),
 (1166, 'Leslie', 'Thompson', 5),
 (1188, 'Julie', 'Firrelli', 6),
 (1216, 'Steve', 'Patterson', 6),
 (1286, 'Foon Yue', 'Tseng', 6),
 (1323, 'George', 'Vanauf', 8),
 (1337, 'Loui', 'Bondur', 6),
 (1370, 'Gerard', 'Hernandez', 7),
 (1401, 'Pamela', 'Castillo', 10),
 (1501, 'Larry', 'Bott', 8),
 (1504, 'Barry', 'Jones', 9),
 (1611, 'Andy', 'Fixter', 5),
 (1612, 'Peter', 'Marsh', 5),
 (1621, 'Mami', 'Nishi', 5),
 (1702, 'Martin', 'Gerard', 5)]

## Summary

In this lesson, you got to practice some more complex SQL queries, some of which required subqueries. There's still plenty more SQL to be had though; hope you've been enjoying some of these puzzles!